In [93]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("C:/Users/fors/Data_science"))

['.ipynb_checkpoints', '1.ipynb', 'data.csv', 'imdb_sql_test.ipynb', 'Untitled.ipynb', 'victorina.db', 'victorina1.db', '[SF-DST] Movies IMBD v3.0.ipynb']

In [94]:
data = pd.read_csv('data.csv')
data.head(1)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015

In [6]:
len(data)

1890

# Предобработка датасета

In [97]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

import csv, sqlite3, pandas, datetime,re

con = sqlite3.connect("victorina.db")
cur = con.cursor()
cur.execute("DROP TABLE IF EXISTS films;")
con.commit()
cur.execute("CREATE TABLE films (\
            `imdb_id`,\
            `popularity`,\
            `budget`,\
            `revenue`,\
            `original_title`,\
            `cast`,\
            `director`,\
            `tagline`,\
            `overview`,\
            `runtime`,\
            `genres`,\
            `production_companies`,\
            `release_date`,\
            `vote_count`,\
            `vote_average`,\
            `release_year`,\
            `profit`\
           );") 
           
con.commit()
df = pandas.read_csv('data.csv')
df['profit'] = df.revenue-df.budget
df.to_sql('films', con, if_exists='append', index=False)

#Gain all production_companies
production_companies = {}
for i in df.production_companies.apply(lambda x: x.split('|')):
    for j in i:
        production_companies[j] = 1
#print(production_companies.keys())

#Gain all actors
actors = {}
for i in df.cast.apply(lambda x: x.split('|')):
    for j in i:
        actors[j] = 1

#Gain all genres
genres = {}
for i in df.genres.apply(lambda x: x.split('|')):
    for j in i:
        genres[j] = 1

#Gain all directors
directors = {}
for i in df.director.apply(lambda x: x.split('|')):
    for j in i:
        directors[j] = 0

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [98]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
display(data[data.budget == data.budget.max()].original_title)
answer_ls.append(4)

491    The Warrior's Way
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [99]:
display(df[df.runtime == df.runtime.max()].original_title)
answer_ls.append(2)

1158    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [100]:
display(df[df.runtime == df.runtime.min()].original_title)
answer_ls.append(3)

769    Winnie the Pooh
Name: original_title, dtype: object

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [101]:
display(df.runtime.mean())
answer_ls.append(2)

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [102]:
display(df.runtime.median())
answer_ls.append(1)

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [104]:
display(df[df.profit == df.profit.max()].original_title)
answer_ls.append(5)

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [105]:
display(df[df.profit == df.profit.min()].original_title)
answer_ls.append(2)

491    The Warrior's Way
Name: original_title, dtype: object

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [106]:
display(df[df.revenue > df.budget].count())
answer_ls.append(1)

imdb_id                 1478
popularity              1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_count              1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [107]:
display(df[(df.release_year == 2008)].sort_values(['revenue'],ascending=False).head(1).original_title)
answer_ls.append(4)

600    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [108]:
display(df[(df.release_year <= 2014) & (df.release_year >= 2012)].sort_values(['profit'],ascending=True).head(1).original_title)
answer_ls.append(5)

1246    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [109]:
con = sqlite3.connect("victorina.db")
cur = con.cursor()
for i in genres.keys():
    cur.execute("SELECT COUNT(*) FROM `films` WHERE `genres` LIKE ('%"+i+"%')")
    genres[i] = cur.fetchone()[0]
display(max(genres, key=genres.get)) 
genres = genres.fromkeys(genres, 0)
answer_ls.append(3)

'Drama'

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [110]:
for i in genres.keys():
    cur.execute("SELECT COUNT(*) FROM `films` WHERE `genres` LIKE ('%"+i+"%') AND profit > 0")
    genres[i] = cur.fetchone()[0]
display(max(genres, key=genres.get)) 
genres = genres.fromkeys(genres, 0)
answer_ls.append(1)

'Drama'

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [111]:
for i in directors:
    for j in df.director:
        if i in j.split('|'):
            directors[i]+=1
            next
display(max(directors, key=directors.get))
directors = directors.fromkeys(directors, 0)
answer_ls.append(3)

'Steven Soderbergh'

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [112]:
cur.execute('SELECT `director`, `profit` FROM `films`')
f = cur.fetchall()
for i in directors:
    for j in f:
        if i in j[0].split('|') and j[1] > 0:
            directors[i]+=1
            next
display(max(directors, key=directors.get))
directors = directors.fromkeys(directors, 0)
answer_ls.append(4)

'Ridley Scott'

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [113]:
cur.execute('SELECT `director`, `profit` FROM `films`')
f = cur.fetchall()
for i in directors:
    for j in f:
        if i in j[0].split('|') and j[1] > 0:
            directors[i]+=j[1]
            next
display(max(directors, key=directors.get))
directors = directors.fromkeys(directors, 0)
answer_ls.append(5)

'Peter Jackson'

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [114]:
cur.execute('SELECT `imdb_id`, `cast`, `profit` FROM `films`')
f = cur.fetchall()
for i in f:
    for j in i[1].split('|'):
        actors[j]+= i[2]
display(max(actors, key=actors.get)) 
actors = actors.fromkeys(actors, 0)
answer_ls.append(1)

'Emma Watson'

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [115]:
cur.execute('SELECT `imdb_id`, `cast`, `profit` FROM `films` WHERE `release_year` = 2012')
f = cur.fetchall()
for i in f:
    for j in i[1].split('|'):
        actors[j]+= i[2]
display(min(actors, key=actors.get)) 
actors = actors.fromkeys(actors, 0)
answer_ls.append(3)

'Kirsten Dunst'

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [116]:
mean_budget = df.budget.mean()
cur.execute('SELECT `imdb_id`, `cast`, `profit` FROM `films` WHERE `budget` >%s' % (mean_budget))
f = cur.fetchall()
for i in f:
    for j in i[1].split('|'):
        actors[j]+= 1
display(max(actors, key=actors.get)) 
actors = actors.fromkeys(actors, 0)
answer_ls.append(3)

'Matt Damon'

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [117]:
Cage = df[df.cast.str.contains("Nicolas Cage", na=False)].genres.apply(lambda x: x.split('|'))
for i in Cage:
    for Nicolas in i:
        genres[Nicolas] +=1
display(max(genres, key=genres.get)) 
genres = genres.fromkeys(genres, 0)
answer_ls.append(2)

'Action'

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [118]:
cur.execute('SELECT `production_companies` FROM `films`')
f = cur.fetchall()
for i in f:
    for j in i[0].split('|'):
        production_companies[j]+= 1
        next
display(max(production_companies, key=production_companies.get)) 
production_companies = production_companies.fromkeys(production_companies, 0) 
answer_ls.append(1)

'Universal Pictures'

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [119]:
cur.execute('SELECT `production_companies` FROM `films` WHERE `release_year` = 2015')
f = cur.fetchall()
for i in f:
    for j in i[0].split('|'):
        if j in production_companies:
            production_companies[j]+= 1
            next
display(max(production_companies, key=production_companies.get)) 
production_companies = production_companies.fromkeys(production_companies, 0)
answer_ls.append(4)

'Warner Bros.'

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [120]:
cur.execute('SELECT `genres`, `production_companies`, `profit` FROM `films` WHERE `genres` like "%Comedy%"')
f = cur.fetchall()
for i in f:
    for j in i[1].split('|'):
        if j in production_companies:
            production_companies[j]+= i[2]
            next
display(max(production_companies, key=production_companies.get)) 
production_companies = production_companies.fromkeys(production_companies, 0)
answer_ls.append(2)

'Universal Pictures'

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [121]:
cur.execute('SELECT `genres`, `production_companies`, `profit` FROM `films` WHERE release_year = 2012')
f = cur.fetchall()
for i in f:
    for j in i[1].split('|'):
        if j in production_companies:
            production_companies[j]+= i[2]
            next
display(max(production_companies, key=production_companies.get))
production_companies = production_companies.fromkeys(production_companies, 0)
answer_ls.append(3)

'Columbia Pictures'

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [122]:
r = df[df.production_companies.str.contains("Paramount Pictures", na=False)]
display(r[r.profit == r.profit.min()].original_title)
answer_ls.append(1)

926    K-19: The Widowmaker
Name: original_title, dtype: object

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [123]:
print(df.groupby(['release_year'])['profit'].sum().idxmax())
answer_ls.append(5)

2015

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [124]:
print(df[df.production_companies.str.contains("Warner Bros", na=False)].groupby(['release_year'])['profit'].sum().idxmax())
answer_ls.append(1)

2014

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [125]:
months = {}
for i in df.release_date:
    b = datetime.datetime.strptime(i, '%m/%d/%Y')
    if b.month in months:
        months[b.month] +=1
    else:
        months[b.month] = 1
display(max(months, key=months.get))
answer_ls.append(4)

9

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [126]:
months = 0
for i in df.release_date:
    b = datetime.datetime.strptime(i, '%m/%d/%Y')
    if b.month in [6,7,8]:
        months +=1
display(months)
answer_ls.append(2)

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [127]:
dirs = {}
cur.execute('SELECT `director`, `release_date` FROM `films`')
f = cur.fetchall()
for i in f:
    b = datetime.datetime.strptime(i[1], '%m/%d/%Y')
    if b.month in [11,12,1]:
        if i[0] in dirs:
            dirs[i[0]] +=1
        else:
            dirs[i[0]] =1
display(max(dirs, key=dirs.get))
answer_ls.append(5)

'Peter Jackson'

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [128]:
res = {}
res_max = {}
for i in range(df.release_year.min(), df.release_year.max()+1):
    cur.execute('SELECT `profit`, `release_date` FROM `films` WHERE release_year = '+str(i))
    f = cur.fetchall()
    months = {}
    for j in f:
        b = datetime.datetime.strptime(j[1], '%m/%d/%Y')
        if b.month in months:
            months[b.month] += j[0]
        else:
            months[b.month] = j[0]
    res[i] = months
    res_max[i] = max(months, key=months.get)

mcount = pandas.DataFrame.from_dict(res_max.items())
display(mcount[1].mode())
answer_ls.append(2)

0    6
dtype: int64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [129]:
#Put all films to companies
cur.execute('SELECT `original_title`, `production_companies` FROM `films`')
f = cur.fetchall()
for comp in production_companies:
    production_companies[comp] = []
    for i in f:
        if comp in i[1].split('|'):
            production_companies[comp].append(i[0])
            next
##Get average len of films by company
for i in production_companies:
    comp_total_len = 0
    count = 0
    for j in production_companies[i]:
        comp_total_len += len(j)
        count+=1
    production_companies[i] = comp_total_len/count
display(max(production_companies, key=production_companies.get))
production_companies = production_companies.fromkeys(production_companies, 0)
answer_ls.append(5)

'Four By Two Productions'

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [130]:
cur.execute('SELECT `original_title`, `production_companies` FROM `films`')
f = cur.fetchall()
for comp in production_companies:
    production_companies[comp] = []
    for i in f:
        if comp in i[1].split('|'):
            production_companies[comp].append(i[0])
            next
for i in production_companies:
    comp_total_len = 0
    count = 0
    for j in production_companies[i]:
        comp_total_len += len(j.split(' '))
        count+=1
    production_companies[i] = comp_total_len/count
display(max(production_companies, key=production_companies.get))
production_companies = production_companies.fromkeys(production_companies, 0)

answer_ls.append(5)

'Four By Two Productions'

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [131]:
word = {}
for i in df.original_title:
    i = i.replace('/',' ').lower()
    s = ''.join([k for k in i if k.isalpha() or k==' '])
    for y in s.split():
        word[y] = 1
print(len(word.keys()))
answer_ls.append(1)

2310

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [132]:
#Вопрос непонятен
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [133]:
go = [['Johnny Depp','Helena Bonham Carter',0],\
      ['Hugh Jackman','Ian McKellen',0],\
      ['Vin Diesel','Paul Walker',0],\
      ['Adam Sandler','Kevin James',0],\
      ['Daniel Radcliffe','Rupert Grint',0]]
for i in df.cast:
    a = i.split('|')
    count = 0
    for j in go:
        if (j[0] in a) and (j[1] in a):
            go[count][2]+=1
        count+=1
print(go)
answer_ls.append(5)

[['Johnny Depp', 'Helena Bonham Carter', 6], ['Hugh Jackman', 'Ian McKellen', 5], ['Vin Diesel', 'Paul Walker', 5], ['Adam Sandler', 'Kevin James', 5], ['Daniel Radcliffe', 'Rupert Grint', 8]]

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [134]:
#Получил массив ['режиссёр', сколько снял всего, сколько в плюсе]
#Как из этих данных получить вероятность?
dirs = {}
for i in df.director:
    for j in i.split('|'):
        dirs[j] = [0,0] #first=count, second = positive profit
cur.execute('SELECT `director`, `profit` FROM `films`')
f = cur.fetchall()
for i in f:
    for j in dirs:
        if j in i[0].split('|'):
            dirs[j][0]+=1
            if i[1]>0:
                dirs[j][1]+=1
display(dirs)
answer_ls.append(1)

{'Colin Trevorrow': [1, 1],
 'George Miller': [3, 3],
 'Robert Schwentke': [4, 3],
 'J.J. Abrams': [5, 5],
 'James Wan': [4, 3],
 'Alejandro GonzÃ¡lez IÃ±Ã¡rritu': [4, 4],
 'Alan Taylor': [2, 2],
 'Ridley Scott': [12, 12],
 'Kyle Balda': [2, 2],
 'Pierre Coffin': [3, 3],
 'Pete Docter': [3, 3],
 'Sam Mendes': [5, 5],
 'Lana Wachowski': [5, 4],
 'Lilly Wachowski': [5, 4],
 'Alex Garland': [1, 1],
 'Chris Columbus': [5, 4],
 'Joss Whedon': [2, 2],
 'Quentin Tarantino': [7, 6],
 'Olivier Megaton': [4, 4],
 'Peyton Reed': [5, 4],
 'Kenneth Branagh': [3, 2],
 'Francis Lawrence': [6, 6],
 'Brad Bird': [4, 4],
 'Antoine Fuqua': [8, 8],
 'Brad Peyton': [3, 3],
 'Sam Taylor-Johnson': [1, 1],
 'Adam McKay': [6, 6],
 'Christopher McQuarrie': [2, 2],
 'Seth MacFarlane': [2, 2],
 'Matthew Vaughn': [4, 4],
 'Tom McCarthy': [1, 1],
 'Wes Ball': [2, 2],
 'Neill Blomkamp': [3, 3],
 'Elizabeth Banks': [2, 2],
 'Steven Spielberg': [10, 10],
 'Rob Letterman': [4, 4],
 'Lenny Abrahamson': [1, 1],
 'Peter Sohn': [1, 1],
 'Jaume Collet-Serra': [5, 5],
 'John Crowley': [1, 1],
 'F. Gary Gray': [5, 5],
 'Breck Eisner': [3, 2],
 'Guy Ritchie': [5, 5],
 'Lee Toland Krieger': [1, 1],
 'Ilya Naishuller': [1, 1],
 'Tim Johnson': [2, 2],
 'Jake Schreier': [1, 1],
 'Todd Haynes': [3, 2],
 'Nancy Meyers': [5, 5],
 'Baltasar KormÃ¡kur': [3, 3],
 'Ericson Core': [1, 1],
 'John Wells': [3, 2],
 'Tarsem Singh': [4, 4],
 'David Koepp': [3, 1],
 'Tom Hooper': [3, 3],
 'Michael Mann': [5, 3],
 'Denis Villeneuve': [2, 2],
 'Josh Trank': [2, 2],
 'Paul Feig': [3, 3],
 'Glenn Ficarra': [3, 2],
 'John Requa': [3, 2],
 'Aleksander Bach': [1, 1],
 'Ron Howard': [8, 6],
 'Ryan Coogler': [1, 1],
 'Judd Apatow': [5, 4],
 'Gavin Hood': [4, 3],
 'Brian Helgeland': [4, 3],
 'Joe Wright': [5, 3],
 'Steve Martino': [3, 3],
 'Peter Landesman': [1, 1],
 'Jonathan Levine': [3, 3],
 'George Tillman, Jr.': [2, 2],
 'Genndy Tartakovsky': [2, 2],
 'Jessie Nelson': [2, 2],
 'Robert Zemeckis': [6, 6],
 'John Francis Daley': [1, 1],
 'Jonathan M. Goldstein': [1, 1],
 'Gil Kenan': [3, 2],
 'Daniel Espinosa': [2, 1],
 'Joel Edgerton': [1, 1],
 'Sean Anders': [3, 2],
 'Mark Osborne': [2, 2],
 'Jocelyn Moorhouse': [1, 1],
 'Ari Sandel': [1, 1],
 'Ciaran Foy': [1, 1],
 'Andy Fickman': [6, 6],
 'Doug Ellin': [1, 1],
 'Jeremy Garelick': [1, 1],
 'M. Night Shyamalan': [8, 7],
 'Scott Cooper': [3, 2],
 'Michael Dougherty': [1, 1],
 'John Erick Dowdle': [4, 4],
 'Simon Curtis': [2, 2],
 'Jason Moore': [2, 2],
 'Dean Israelite': [1, 1],
 'Camille Delamarre': [2, 2],
 'Guillermo del Toro': [5, 5],
 'Gregory Jacobs': [1, 1],
 'Gregory Plotkin': [1, 1],
 'Jay Roach': [5, 4],
 'Billy Ray': [1, 1],
 'Paul Tibbitt': [1, 1],
 'Boaz Yakin': [4, 4],
 'Pierre Morel': [3, 1],
 'Anne Fletcher': [4, 4],
 'Leigh Whannell': [1, 1],
 'Nicholas Hytner': [1, 1],
 'Paul McGuigan': [4, 2],
 'Jonathan Demme': [2, 2],
 'David M. Rosenthal': [1, 1],
 'Noah Baumbach': [1, 0],
 'Etan Cohen': [1, 1],
 'Sarah Gavron': [1, 1],
 'Max Joseph': [1, 1],
 'Alejandro Monteverde': [1, 0],
 'Cameron Crowe': [5, 2],
 'David Gordon Green': [4, 2],
 'Barry Levinson': [4, 1],
 'Ken Kwapis': [5, 4],
 'Ken Scott': [2, 1],
 'Mike Binder': [2, 2],
 'Jon M. Chu': [4, 3],
 'Christopher Nolan': [8, 8],
 'James Gunn': [2, 2],
 'Joe Russo': [2, 2],
 'Anthony Russo': [2, 2],
 'Chad Stahelski': [1, 1],
 'David Leitch': [1, 1],
 'Peter Jackson': [8, 8],
 'Don Hall': [2, 1],
 'Chris Williams': [2, 2],
 'Morten Tyldum': [1, 1],
 'David Fincher': [6, 6],
 'David Ayer': [4, 3],
 'Shawn Levy': [10, 9],
 'Neil Burger': [3, 3],
 'Bryan Singer': [5, 5],
 'Luc Besson': [2, 2],
 'Jonathan Liebesman': [3, 3],
 'Jake Kasdan': [3, 2],
 'Dan Gilroy': [1, 1],
 'Michael Bay': [8, 8],
 'Wes Anderson': [5, 4],
 'Matt Reeves': [3, 3],
 'Marc Webb': [3, 3],
 'Doug Liman': [5, 5],
 'Evan Goldberg': [2, 1],
 'Seth Rogen': [2, 1],
 'Clint Eastwood': [12, 10],
 'Gareth Edwards': [1, 1],
 'Robert Stromberg': [1, 1],
 'Roger Donaldson': [3, 1],
 'Stiles White': [1, 1],
 'Dean DeBlois': [3, 3],
 'Patrick Hughes': [1, 1],
 'Phil Lord': [4, 4],
 'Christopher Miller': [4, 4],
 'Sergey Bodrov': [1, 1],
 'James Marsh': [1, 1],
 'Luke Greenfield': [4, 4],
 'Gary Shore': [1, 1],
 'Simon J. Smith': [2, 2],
 'Eric Darnell': [4, 4],
 'Rob Marshall': [4, 4],
 'Noam Murro': [2, 2],
 'Phillip Noyce': [2, 2],
 'Scott Frank': [2, 1],
 'Paul King': [1, 1],
 'Daniel Barnz': [2, 1],
 'Jon Favreau': [5, 5],
 'James DeMonaco': [1, 1],
 'Vic Armstrong': [1, 1],
 'J.C. Chandor': [2, 0],
 'Brett Ratner': [8, 8],
 'Darren Aronofsky': [4, 3],
 'David Dobkin': [5, 4],
 'Frank Coraci': [4, 3],
 'Nicholas Stoller': [4, 4],
 'R.J. Cutler': [1, 1],
 'Trish Sie': [1, 1],
 'Josh Boone': [1, 1],
 'Tim Story': [6, 6],
 'Paul Thomas Anderson': [3, 1],
 'Michael Spierig': [2, 1],
 'Peter Spierig': [2, 1],
 'JosÃ© Padilha': [1, 1],
 'Wally Pfister': [1, 1],
 'Nick Cassavetes': [4, 4],
 'Rob Minkoff': [4, 4],
 'Frank Miller': [3, 1],
 'Robert Rodriguez': [11, 8],
 'Carlos Saldanha': [5, 5],
 'Bobby Farrelly': [9, 7],
 'Peter Farrelly': [10, 8],
 'George Clooney': [4, 4],
 'Angelina Jolie': [1, 1],
 'Ava DuVernay': [1, 1],
 'Paul W.S. Anderson': [7, 6],
 'Michael Hoffman': [1, 1],
 'Will Gluck': [3, 3],
 'Theodore Melfi': [1, 1],
 'Scott Waugh': [2, 2],
 'Lasse HallstrÃ¶m': [7, 5],
 'Graham Annable': [1, 1],
 'Anthony Stacchi': [2, 2],
 'Tim Burton': [9, 9],
 'Brian A Miller': [1, 1],
 'Steven Quale': [2, 2],
 'Roberts Gannaway': [1, 1],
 'Sam Miller': [1, 1],
 'Bennett Miller': [3, 2],
 'Shana Feste': [2, 2],
 'David MichÃ´d': [1, 0],
 'Saul Dibb': [1, 0],
 'John R. Leonetti': [1, 1],
 'Stuart Beattie': [2, 1],
 'Tom Gormican': [1, 1],
 'Ben Falcone': [1, 1],
 'Akiva Goldsman': [1, 0],
 'Adam Wingard': [1, 0],
 'Russell Crowe': [1, 0],
 'Miguel Arteta': [2, 2],
 'Steve Pink': [3, 3],
 'Craig Gillespie': [2, 2],
 'Jonathan Glazer': [1, 0],
 'Rob Thomas': [1, 0],
 'Christopher Spencer': [1, 1],
 'Thomas Carter': [3, 3],
 'GrÃ©gory Levasseur': [1, 1],
 'Michael Cuesta': [1, 0],
 'Charles Martin Smith': [2, 2],
 'James Bobin': [2, 2],
 'Randall Wallace': [3, 3],
 'Renny Harlin': [5, 1],
 'Andrew Erwin': [1, 1],
 'Jon Erwin': [1, 1],
 'Dave Green': [1, 1],
 'Rupert Wyatt': [2, 2],
 'Don McKellar': [1, 0],
 'Harold Cronk': [1, 1],
 'Matt Bettinelli-Olpin': [1, 1],
 'Tyler Gillett': [1, 1],
 'James Cameron': [2, 2],
 'Patrick Tatopoulos': [1, 1],
 'David Yates': [4, 4],
 'Bob Peterson': [1, 1],
 'McG': [4, 3],
 'Todd Phillips': [8, 7],
 'Zack Snyder': [6, 6],
 'Roland Emmerich': [5, 5],
 'Shane Acker': [1, 1],
 'Ron Clements': [2, 1],
 'John Musker': [2, 1],
 'John Lee Hancock': [4, 3],
 'Ruben Fleischer': [3, 3],
 'Chris Weitz': [3, 3],
 'Stephen Sommers': [3, 3],
 'Robert Luketic': [6, 5],
 'Henry Selick': [2, 1],
 'Burr Steers': [3, 2],
 'Steve Carr': [6, 5],
 'Richard Kelly': [1, 1],
 'Mark Neveldine': [4, 3],
 'Brian Taylor': [4, 3],
 'Christian Alvart': [2, 1],
 'Sam Raimi': [6, 6],
 'Alex Proyas': [2, 2],
 'Duncan Jones': [2, 2],
 'Hoyt Yeatman': [1, 1],
 'Tony Scott': [6, 5],
 'Ricky Gervais': [1, 1],
 'Matthew Robinson': [1, 1],
 'P.J. Hogan': [2, 2],
 'Jaco Van Dormael': [1, 0],
 'Peter Billingsley': [1, 1],
 'Jim Sheridan': [3, 2],
 'John Hillcoat': [2, 1],
 'Conrad Vernon': [3, 3],
 'Nora Ephron': [2, 2],
 'Atom Egoyan': [1, 0],
 'Karyn Kusama': [2, 1],
 'Phil Traill': [1, 1],
 'David R. Ellis': [5, 4],
 'Betty Thomas': [3, 2],
 'Gary Winick': [2, 2],
 'Lee Daniels': [2, 2],
 'Kevin Macdonald': [3, 3],
 'David S. Goyer': [3, 2],
 'John Hamburg': [2, 2],
 'Steven Soderbergh': [13, 10],
 'Richard Curtis': [2, 1],
 'Brandon Camp': [1, 1],
 'Kevin Greutert': [2, 2],
 'Jean-Marc VallÃ©e': [2, 1],
 'Ethan Coen': [4, 4],
 'Joel Coen': [6, 6],
 'David Twohy': [4, 4],
 'Dominic Sena': [4, 3],
 'Rajkumar Hirani': [1, 1],
 'Grant Heslov': [1, 1],
 'James McTeigue': [4, 3],
 'Todd Graff': [1, 0],
 'Brad Silberling': [2, 1],
 'Jorge Blanco': [1, 1],
 'Javier Abad': [1, 1],
 'Marcos MartÃ\xadnez': [1, 1],
 'Harold Ramis': [2, 2],
 'Patrick Lussier': [3, 2],
 'Walt Becker': [2, 2],
 'Alejandro AmenÃ¡bar': [2, 1],
 'Troy Duffy': [1, 1],
 'Werner Herzog': [2, 0],
 'NimrÃ³d Antal': [4, 3],
 'Paul Weitz': [5, 3],
 'Lone Scherfig': [2, 2],
 'Jason Reitman': [4, 4],
 'David Bowers': [4, 2],
 'Tom Tykwer': [3, 3],
 'Justin Lin': [5, 4],
 'Michael Moore': [3, 2],
 'Rob Zombie': [4, 3],
 'Peter Chelsom': [3, 3],
 'John Schultz': [1, 1],
 'Olatunde Osunsanmi': [1, 1],
 'Brian Koppelman': [2, 0],
 'David Levien': [2, 0],
 'Tony Gilroy': [3, 2],
 'Jane Campion': [1, 0],
 'Greg Mottola': [3, 3],
 'Mike Judge': [1, 1],
 'Donald Petrie': [4, 4],
 'Marcus Nispel': [4, 2],
 'Daniel Barber': [1, 1],
 'Jonathan Mostow': [3, 3],
 'Andrzej Bartkowiak': [5, 3],
 'Thor Freudenthal': [3, 3],
 'Steve Shill': [1, 1],
 'Michael J. Bassett': [2, 1],
 'Jonas Elmer': [1, 1],
 'Richard Linklater': [4, 2],
 'Stewart Hendler': [2, 1],
 'Derrick Borte': [1, 0],
 'Vicky Jenson': [3, 2],
 'Marc Lawrence': [3, 3],
 'Toby Wilkins': [1, 1],
 'Bruce Beresford': [2, 0],
 'Chris Renaud': [3, 3],
 'Sylvester Stallone': [3, 3],
 'Chris Sanders': [3, 3],
 'Martin Scorsese': [6, 5],
 'Joseph Kosinski': [2, 2],
 'Nathan Greno': [1, 1],
 'Byron Howard': [2, 2],
 'Lee Unkrich': [3, 3],
 'Danny Boyle': [6, 5],
 'Michael Apted': [2, 2],
 'Florian Henckel von Donnersmarck': [1, 1],
 'Mike Newell': [3, 2],
 'Louis Leterrier': [6, 6],
 'Jon Turteltaub': [5, 5],
 'Edgar Wright': [2, 0],
 'Mike Mitchell': [3, 3],
 'Joe Carnahan': [3, 3],
 'Ethan Maniquis': [1, 1],
 'Dennis Dugan': [7, 6],
 'Albert Hughes': [2, 2],
 'Allen Hughes': [3, 2],
 'Ben Affleck': [3, 3],
 'David Slade': [2, 2],
 'Tom McGrath': [4, 4],
 'Edward Zwick': [4, 4],
 'Peter Weir': [2, 1],
 'Miguel Sapochnik': [1, 0],
 'James Mangold': [5, 5],
 'Ryan Murphy': [1, 1],
 'Andy Tennant': [4, 4],
 'Anand Tucker': [1, 1],
 'Paul Greengrass': [5, 4],
 'Alan Poul': [1, 1],
 'Josh Gordon': [1, 1],
 'Will Speck': [1, 1],
 'Floria Sigismondi': [1, 0],
 'Garry Marshall': [4, 4],
 'Troy Nixey': [1, 1],
 'Harald Zwart': [3, 3],
 'Jonathan Lynn': [2, 1],
 'Roman Polanski': [3, 3],
 'Paul Haggis': [3, 3],
 'Samuel Bayer': [1, 1],
 'David O. Russell': [3, 2],
 'Jimmy Hayward': [3, 2],
 'Jason Friedberg': [5, 4],
 'Aaron Seltzer': [5, 4],
 'Scott Stewart': [2, 2],
 'Michael Patrick King': [2, 2],
 'Susanna White': [1, 1],
 'John Luessenhop': [2, 2],
 'Steve Antin': [1, 1],
 'Nanette Burstein': [1, 1],
 'Mark Romanek': [2, 1],
 'Kevin Smith': [4, 4],
 'Greg Berlanti': [1, 1],
 'Neil Marshall': [2, 0],
 'John Curran': [1, 0],
 'Alexandre Aja': [3, 3],
 'Roger Michell': [2, 2],
 'Tony Goldwyn': [1, 0],
 'Michael Lembeck': [3, 2],
 'Colin Strause': [1, 1],
 'Greg Strause': [1, 1],
 'John Madden': [3, 2],
 'Jorma Taccone': [1, 0],
 'James L. Brooks': [2, 0],
 'Brian Levant': [3, 2],
 'Jim Field Smith': [1, 1],
 'William Monahan': [1, 0],
 'Wes Craven': [5, 3],
 'Robert Redford': [3, 1],
 'Neil LaBute': [3, 2],
 'Tom Dey': [3, 2],
 'Oliver Stone': [5, 5],
 'Dan Rush': [1, 0],
 'Anthony Bell': [1, 1],
 'Ben Gluck': [1, 1],
 'Eric Brevig': [2, 2],
 'Tom Vaughan': [2, 1],
 'Richard J. Lewis': [1, 0],
 'Martin Campbell': [5, 4],
 'Roger Kumble': [2, 2],
 'Kevin Munroe': [2, 1],
 'William Dear': [1, 0],
 'Sngmoo Lee': [1, 0],
 'John Landis': [1, 0],
 'Tyler Perry': [3, 3],
 'Vipul Amrutlal Shah': [1, 0],
 'David Lynch': [1, 1],
 'David Silverman': [2, 2],
 'Andrew Adamson': [4, 4],
 'Sharon Maguire': [1, 1],
 'Gary Trousdale': [1, 1],
 'Kirk Wise': [1, 1],
 'Simon West': [5, 4],
 'J.B. Rogers': [1, 1],
 'Baz Luhrmann': [3, 2],
 'Ted Demme': [1, 1],
 'Jean-Jacques Annaud': [2, 1],
 'Ben Stiller': [3, 3],
 'Joel Gallen': [1, 1],
 'Keenen Ivory Wayans': [4, 4],
 'John A. Davis': [2, 2],
 'Lawrence Guterman': [1, 1],
 'Chris Nahon': [1, 1],
 'Peter Howitt': [2, 1],
 'Hironobu Sakaguchi': [1, 0],
 'Motonori Sakakibara': [1, 0],
 'Michael Cristofer': [1, 0],
 'John Moore': [5, 4],
 'Victor Salva': [2, 2],
 'Rod Lurie': [2, 0],
 'Lee Tamahori': [5, 2],
 'Adam Shankman': [8, 7],
 'Jerry Zucker': [1, 1],
 'Robert Altman': [1, 1],
 'James Isaac': [1, 1],
 'Gore Verbinski': [8, 6],
 'John Dahl': [2, 1],
 'Stephen Herek': [1, 0],
 'Iain Softley': [3, 2],
 'Gary Fleder': [4, 3],
 'Simon Wincer': [1, 1],
 'Bill Paxton': [2, 1],
 'Luis Mandoki': [2, 0],
 'Scott Hicks': [2, 1],
 'Daniel Sackheim': [1, 0],
 'John Herzfeld': [1, 0],
 'Brian Robbins': [6, 3],
 'Ivan Reitman': [2, 2],
 'Frank Oz': [2, 2],
 'Dennie Gordon': [1, 1],
 'John Boorman': [1, 1],
 "Pat O'Connor": [1, 1],
 'Jesse Dylan': [3, 3],
 'Gregory Poirier': [1, 1],
 'Frank Darabont': [2, 1],
 'Demian Lichtenstein': [1, 0],
 'John Carpenter': [1, 0],
 'Penny Marshall': [1, 0],
 'Mark Waters': [5, 4],
 'Rob Cohen': [6, 4],
 'John Stockwell': [3, 2],
 'Brendan Malloy': [1, 0],
 'Emmett Malloy': [1, 0],
 'Les Mayfield': [1, 0],
 'Harold Becker': [1, 0],
 'Mike Tollin': [2, 1],
 'Tim Hill': [3, 3],
 'Rob Pritts': [1, 1],
 'Joe Johnston': [3, 3],
 'Peter Hyams': [2, 0],
 'Peter Bogdanovich': [1, 0],
 'Francine McDougall': [1, 1],
 'Ernest R. Dickerson': [1, 0],
 'DJ Pooh': [1, 1],
 'John Singleton': [5, 5],
 'Andrew Stanton': [3, 3],
 'Catherine Hardwicke': [3, 2],
 'Marc Forster': [7, 5],
 'John Stevenson': [1, 1],
 'Phyllida Lloyd': [2, 2],
 'Timur Bekmambetov': [2, 2],
 'Loveleen Tandan': [1, 1],
 'Peter Berg': [6, 5],
 'Kathryn Bigelow': [3, 2],
 'D.J. Caruso': [5, 4],
 'Mark Herman': [1, 1],
 'Scott Derrickson': [2, 2],
 'Gabriele Muccino': [2, 2],
 'David Frankel': [4, 3],
 'Jeff Wadlow': [1, 1],
 'Lexi Alexander': [1, 0],
 'Pete Travis': [2, 1],
 'Peter Segal': [6, 6],
 'David Wain': [2, 1],
 'Mathieu Kassovitz': [2, 2],
 'Martin McDonagh': [2, 2],
 'Jon Hurwitz': [2, 2],
 'Hayden Schlossberg': [2, 2],
 'Peter Sollett': [1, 1],
 'Seth Gordon': [3, 3],
 'Fred Wolf': [1, 1],
 'David Hackl': [1, 1],
 'Marco Schnabel': [1, 0],
 'Woody Allen': [3, 3],
 'Jon Avnet': [2, 1],
 'Brad Anderson': [3, 2],
 'Gregory Hoblit': [3, 1],
 'Bryan Bertino': [1, 1],
 'Gus Van Sant': [3, 2],
 'Howard McCain': [1, 0],
 'Chris Carter': [1, 1],
 'John Patrick Shanley': [1, 1],
 'Paul Weiland': [1, 1],
 'Marcel Langenegger': [1, 0],
 'David Moreau': [1, 1],
 'Xavier Palud': [1, 1],
 'Oxide Pang Chun': [1, 0],
 'Danny Pang': [1, 0],
 'GÃ¡bor CsupÃ³': [2, 1],
 'Peter Cattaneo': [1, 0],
 'Robert Stevenhagen': [1, 0],
 'Sam Fell': [3, 1],
 'Craig Mazin': [1, 0],
 'Gina Prince-Bythewood': [2, 2],
 'Raja Gosnell': [6, 6],
 'Michael McCullers': [1, 1],
 'Julian Jarrold': [2, 1],
 'Rian Johnson': [2, 1],
 'Kirk De Micco': [2, 2],
 'Howard Deutch': [2, 1],
 'RyÃ»hei Kitamura': [1, 0],
 'Simon Hunter': [1, 0],
 'Joshua Michael Stern': [2, 1],
 'Jennifer Flackett': [1, 1],
 'Mark Levin': [1, 1],
 'Anthony Leondis': [1, 1],
 'Robert B. Weide': [1, 0],
 'Malcolm D. Lee': [4, 4],
 'Nicolas Winding Refn': [1, 1],
 'Andrew Niccol': [3, 2],
 'Jennifer Yuh': [1, 1],
 'John Lasseter': [2, 2],
 'Brad Lewis': [1, 1],
 'Bill Condon': [4, 3],
 'Terrence Malick': [1, 1],
 'Michel Hazanavicius': [1, 1],
 'Brad Furman': [2, 2],
 'Gary McKendry': [1, 0],
 'Mikael HÃ¥fstrÃ¶m': [4, 4],
 'Stephen Anderson': [1, 0],
 'George Nolfi': [1, 1],
 'Tom Hanks': [1, 1],
 'Mark Mylod': [1, 1],
 'Chris Gorak': [1, 1],
 'Tate Taylor': [1, 1],
 'Christian E. Christiansen': [1, 1],
 'Chris Miller': [2, 2],
 'Michel Gondry': [2, 2],
 'Oliver Parker': [1, 1],
 'Todd Strauss-Schulson': [1, 1],
 'Matthijs van Heijningen Jr.': [1, 0],
 'Gonzalo LÃ³pez-Gallego': [1, 1],
 'Simon Wells': [2, 1],
 'Joe Cornish': [1, 0],
 'Stephen Daldry': [3, 3],
 'Kelly Asbury': [3, 3],
 'Alexander Payne': [4, 4],
 'Bruce Robinson': [1, 0],
 'John Michael McDonagh': [1, 1],
 'Jesse Peretz': [1, 1],
 'Craig Brewer': [3, 2],
 'Joel Schumacher': [5, 3],
 'Henry Joost': [2, 2],
 'Ariel Schulman': [2, 2],
 'Michael Dowse': [2, 0],
 'Jason Winer': [1, 1],
 'Alister Grierson': [1, 1],
 'Douglas McGrath': [1, 1],
 'David Cronenberg': [4, 3],
 'Sean McNamara': [1, 1],
 'Mike Disa': [1, 0],
 'Joe Nussbaum': [2, 1],
 'William Friedkin': [3, 1],
 'John Whitesell': [2, 2],
 'Benny Chan': [1, 1],
 'Salim Akil': [2, 2],
 'Thomas Bezucha': [1, 0],
 'Paul Johansson': [1, 0],
 'Paolo Sorrentino': [1, 0],
 'Rodrigo GarcÃ\xada': [1, 0],
 'Mark Duplass': [1, 0],
 'Jay Duplass': [1, 0],
 'Chris Wedge': [3, 3],
 'George Lucas': [2, 2],
 'Barry Sonnenfeld': [4, 3],
 'Corey Yuen Kwai': [1, 1],
 'Wayne Wang': [3, 2],
 'Curtis Hanson': [1, 1],
 'Steven Brill': [3, 3],
 'Joel Zwick': [1, 1],
 'Andrew Davis': [2, 0],
 'Stuart Baird': [1, 1],
 'Kurt Wimmer': [1, 0],
 'Steve Beck': [1, 1],
 'Lorna Cook': [1, 1],
 'Jim Gillespie': [1, 0],
 'Chuck Russell': [1, 1],
 'Jeff Tremaine': [3, 3],
 'Julie Taymor': [1, 1],
 'Barbet Schroeder': [1, 1],
 'Spike Jonze': [2, 2],
 'Ron Shelton': [1, 0],
 'Walter Hill': [3, 0],
 'John Woo': [3, 2],
 'Adrian Lyne': [1, 1],
 'Michael Rymer': [1, 1],
 'Marcus Raboy': [1, 1],
 'Robin Budd': [1, 1],
 'Donovan Cook': [1, 1],
 'Dewey Nicks': [1, 0],
 'Brian De Palma': [2, 0],
 'Michael Caton-Jones': [2, 0],
 'Rob Bowman': [2, 1],
 'Carl Franklin': [2, 2],
 'Shekhar Kapur': [2, 1],
 'Mark Pellington': [1, 1],
 'Jonathan Frakes': [1, 1],
 'Rick Rosenthal': [1, 1],
 'Denzel Washington': [2, 2],
 'Mort Nathan': [1, 0],
 'Tamra Davis': [1, 1],
 'Ron Underwood': [1, 0],
 'Stephen Gaghan': [2, 1],
 'Reginald Hudlin': [2, 0],
 'Tom Shadyac': [3, 1],
 'Charles Stone III': [2, 1],
 'Kevin Bray': [1, 1],
 'William Malone': [1, 0],
 'Paul Schrader': [1, 0],
 'MÃ¥ns MÃ¥rlind': [1, 1],
 'BjÃ¶rn Stein': [1, 1],
 'Mark Andrews': [1, 1],
 'Steve Purcell': [1, 1],
 'Brenda Chapman': [1, 1],
 'Rupert Sanders': [1, 1],
 'Ang Lee': [3, 3],
 'Mike Thurmeier': [1, 1],
 'Juan Antonio Bayona': [1, 1],
 'Rich Moore': [1, 1],
 'Gary Ross': [2, 2],
 'Len Wiseman': [4, 4],
 'Stephen Chbosky': [1, 1],
 'Drew Goddard': [1, 1],
 'Peter Ramsey': [1, 1],
 'Michael Sucsy': [1, 1],
 'Juan Diego Solanas': [1, 0],
 'Scott Speer': [1, 1],
 'Mike McCoy': [1, 1],
 'Kirk Jones': [2, 2],
 'Larry Charles': [2, 2],
 'Nima Nourizadeh': [1, 1],
 'Peter Lord': [2, 2],
 'Jeff Newitt': [1, 1],
 'Stephen St. Leger': [1, 1],
 'James Mather': [1, 1],
 'James Watkins': [1, 1],
 'Asger Leth': [1, 1],
 'Henry Alex Rubin': [1, 0],
 'Alex Kurtzman': [1, 0],
 'John Gulager': [1, 1],
 'Ole Bornedal': [1, 1],
 'Andrew Dominik': [2, 1],
 'Mabrouk El Mechri': [1, 0],
 'Nicholas Jarecki': [1, 1],
 'Dan Bradley': [1, 0],
 'Julie Anne Robinson': [1, 0],
 'Dustin Hoffman': [1, 1],
 'Chris Butler': [1, 1],
 'Dean Wright': [1, 0],
 'Anthony Hemingway': [1, 0],
 'Josh Schwartz': [1, 0],
 'Brian Klugman': [1, 1],
 'Lee Sternthal': [1, 1],
 'Walter Salles': [2, 0],
 'David Barrett': [1, 0],
 'Todd Lincoln ': [1, 0],
 'Dan Cutforth': [1, 1],
 'Jane Lipsitz': [1, 1],
 'Mark Steven Johnson': [2, 2],
 'Stephen Norrington': [1, 1],
 'Steve Trenbirth': [1, 1],
 'Terry Zwigoff': [1, 1],
 'David Zucker': [2, 2],
 'Bille Woodruff': [2, 2],
 'Jan de Bont': [1, 1],
 'Rob Schmidt': [1, 1],
 'Jon Amiel': [1, 1],
 'Clark Johnson': [2, 2],
 'Charles Herman-Wurmfeld': [1, 1],
 'Richard Donner': [2, 1],
 'Anthony Minghella': [1, 1],
 'Ronny Yu': [1, 1],
 'Joe Dante': [1, 0],
 'John McTiernan': [1, 0],
 'Kevin Costner': [1, 1],
 'Jim Fall': [1, 1],
 'Lawrence Kasdan': [1, 1],
 'Patty Jenkins': [1, 1],
 'Martin Brest': [1, 0],
 'Ronald F. Maxwell': [1, 0],
 'Troy Miller': [1, 1],
 'Alan Parker': [1, 0],
 'Uwe Boll': [3, 1],
 'Chris Koch': [1, 0],
 'David Mackenzie': [1, 0],
 'FranÃ§ois Ozon': [1, 1],
 'Christopher Guest': [1, 1],
 'Nigel Cole': [2, 2],
 'James Cox': [1, 0],
 'Rob Reiner': [3, 2],
 'Robert Iscove': [2, 1],
 'Christine Jeffs': [1, 1],
 'Chris Buck': [2, 2],
 'Jennifer Lee': [1, 1],
 'Alfonso CuarÃ³n': [3, 2],
 'Shane Black': [1, 1],
 'Steve McQueen': [1, 1],
 'Dan Scanlon': [1, 1],
 'Tommy Wirkola': [1, 1],
 'Carl Rinsch': [1, 0],
 'Klay Hall': [1, 1],
 'Harmony Korine': [1, 1],
 'Fede Alvarez': [1, 1],
 'Derek Cianfrance': [1, 1],
 'Kimberly Peirce': [1, 1],
 'John Carney': [1, 1],
 'Justin Zackham': [1, 0],
 'Taylor Hackford': [2, 2],

# Submission

In [9]:
len(answer_ls)

1

In [135]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       1
33  34       1
34  35       5
35  36       1